td, th {
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    text-align: center;
}

th {
    padding: 1rem;
}

select {
    margin-left: 1rem;
}

#nowtime {
    font-weight: bold;
}

#tzoffset, #userid, #username {
    display: None;
}

#displaytzoffset, #displayuid {
    font-weight: bold;
	font-size: 1.1rem;
    width: 10rem;
    padding: 0.1rem;
}
