@font-face {
  font-family: sector;
  src: url(/other/sector_017.woff);
}

html {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 1.1em;
}

header h1 {
    display:table;
	font-family: sector;
}

header h1 span {
    vertical-align:middle;
    display:table-cell;
    text-align: left;
    line-height: normal;
}

h1 {
    font-size: 2rem;
    line-height: 1.1em;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.1em;
}

input {
    margin-top: 0.25rem;
}

li {
    line-height: 1.25rem;
}

.logo {
    margin: 0;
    padding: 0;
    border: 0;
    height: 4rem;
    vertical-align: middle;
    padding-right: 1rem;
    padding-left: 2rem;
 }

.apiout th {
    font-weight: bold;
    background-color: white;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

.apiout {
    border-collapse: collapse;
}

.apiout td {
    border: 1px solid black;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.apiout tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

input {
    margin-top: 0.25rem;
}
