.crimetable {
	border-collapse: separate;
	border-spacing: 0;
}

.crimetable tbody tr td:first-child {
	background-color: orange;
	font-weight: bold;
	position: sticky;
	left: 0;
}

.crimetable thead tr th:first-child {
	position: sticky;
	left: 0;
}

.crimetable tbody tr td:nth-child(2) {
	font-weight: bold;
}

