body {
 font-size: 12px;
 margin: 0;
 margin-top: 1rem;
 margin-left: 1rem;
}

h1 {
 font-size: 24px;
 margin: 12px;
}

h2 {
 font-size: 18px;
 margin: 12px;
}

h3 {
 font-size: 16px;
 margin: 12px;
}

p, ul, ol, hr {
 margin: 0;
 padding: 0;
 line-height: 1.1;
}

ul, ol {
 margin-left: 1rem;
}

#md-block {
  padding-left: 1rem;
}
