.keyBlock {
    background-color: orange;
    font-weight: bold;
    text-align: center;
}

fieldset span {
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
}

fieldset {
    margin-top: 1rem;
    background-color: #eee;
}

fieldset legend {
    background-color: #eee;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;    
    font-weight: bold;
    padding: 0.25rem;
}

.fullaccess {
    background-color: #fcc;
}

.minimalaccess {
    background-color: lightgreen;
}

.limitedaccess {
    background-color: #FFCC00;
}
.publicaccess {
    background-color: lightgrey;
}

#selections {
    width: 90%;
}
